<!-- aoutgenerated sidebar -->
{% capture my_include %}
- [doing papercraft](#doing-papercraft)
  * [Introduction](#introduction)
  * [Prerequisites](#prerequisites)

- [Workflows](#workflows)
  * [Workflow 123DMake](#workflow-123dmake)
  * [Workflow Paperkura](#workflow-paperkura)
  * [Workflow dxf2papercraft](#workflow-dxf2papercraft)
  * [Workflow Processing](#workflow-processing)
- [Application Blender 3D](#application-blender-3d)
  * [Shortcuts](#shortcuts)
  * [Search Menu](#search-menu)
  * [Interface](#interface)
      - [Customize UI](#customize-ui)
      - [Window content](#window-content)
      - [View areas](#view-areas)
      - [Display methods](#display-methods)
  * [View Navigation](#view-navigation)
  * [Object and Edit Mode](#object-and-edit-mode)
  * [Selection](#selection)
  * [Transformation](#transformation)
      - [Using manipulators](#using-manipulators)
      - [Using hotkeys](#using-hotkeys)
  * [Cursor](#cursor)
  * [Creation](#creation)
      - [Duplication](#duplication)
      - [Add & Delete](#add---delete)
  * [Mesh Manipulation](#mesh-manipulation)
      - [Extrude](#extrude)
      - [Other Manipulations](#other-manipulations)
  * [Modifiers](#modifiers)
      - [Subdivision Surface](#subdivision-surface)
      - [Boolean](#boolean)
      - [Simple Deform](#simple-deform)
      - [Array](#array)
      - [Subdivide and Displace](#subdivide-and-displace)
  * [Add-ons](#add-ons)
      - [Paper Model Add-on](#paper-model-add-on)
  * [Export](#export)
      - [STL STereoLithography](#stl-stereolithography)
    + [OBJ Wavefront](#obj-wavefront)
- [Application Processing 3D](#application-processing-3d)
- [Autodesk 123DMake](#autodesk-123dmake)
  * [Usage Hints](#usage-hints)
  * [Stacked Slices](#stacked-slices)
  * [Interlocked Slices](#interlocked-slices)
  * [Curve](#curve)
  * [Radial Slices](#radial-slices)
  * [Folded Panels](#folded-panels)
    + [Object and Material Settings](#object-and-material-settings)
    + [Joint Types](#joint-types)
      - [Joint Type Tab](#joint-type-tab)
      - [Joint Type Tongue](#joint-type-tongue)
  * [Slices 3D](#slices-3d)
  * [Model Issues](#model-issues)
  * [Get 2D Plans Export](#get-2d-plans-export)

- [Cleaning Plans in Vector Editor](#cleaning-plans-in-vector-editor)
    + [Using Adobe Illustrator](#using-adobe-illustrator)
      - [Usage Hints](#usage-hints)
      - [Plans from 123DMake](#plans-from-123dmake)
      - [Plans from the Paper Model Add-on](#plans-from-the-paper-model-add-on)
      - [Using Inkscape](#using-inkscape)
  * [Export DXF](#export-dxf)
- [Laser](#laser)
  * [Materials](#materials)
- [Links](#links)
  * [References](#references)
  * [Tutorials](#tutorials)
  * [Other experimental papercraft tools](#other-experimental-papercraft-tools)

{% endcapture %}
{{ my_include | markdownify }}